.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: rgb(151, 141, 141);
}

/* Style for individual posts */
.post {
  max-width: 500px;
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.post h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.post img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 8px;
}

.post__text {
  font-size: 16px;
  margin-top: 10px;
  color: #555;
}

.post button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.post button:hover {
  background-color: #0056b3;
}

.post p {
  font-size: 14px;
  margin-top: 5px;
  color: #666;
}

/* Style for the NewPost component */
.new-post {
  max-width: 500px;
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.new-post textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  resize: none;
}

.new-post button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.new-post button:hover {
  background-color: #0056b3;
}